<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="[% settings.charset %]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Mana</title>
  <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.css">

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/admin/interface.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>

</head>
<body>
    <div id="page" class="col-md-12 container-fluid gradient" style="display=inline-block">
        [% INCLUDE header.tt %]

        <div class="row">
            [% INCLUDE sidebar.tt %]
            <div id="content" class="col-md-10">
                [% content %]
            </div>
        </div>
    </div>
    <div id="footer">
        Powered by <a href="http://perldancer.org/">Dancer2</a> [% dancer_version %]
    </div>
    </body>
</html>
