<div class="row page-header">
    <div class="col-md-1">
        <img src="/css/logo_transparent.png" alt="Mana_logo">
    </div>
    <div class="col-md-9">
        <h1>Welcome on Mana Knowledge Base
        <div class=row>
            <div class="col-md-1"></div>
            <h2 class="col-md-11">Explore Content</h2>
        </div>
    </div>
</div>

<div class="row breadcrumb">
    <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
        [% IF resources %]
            <li><a href="#">[% resourcename FILTER ucfirst %]</a></li>
        [% END %]
    </ol>
</div>
